<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <title>Document</title>
</head>
<body>
<nav class="d-flex justify-content-around align-item-center">
    <div class="btn-primary border-1 m-2 p-2 rounded"> <a href="/home" class="text-light">Home</a></div>
    <div class="d-flex justify-content-center align-item-center">
    {{#each pageNames}}    
        <div class="btn-primary border-1 m-2 p-2 rounded"><a href="/{{this}}" class="text-light">{{this}}</a></div>
    {{/each}}
    </div>
</nav>
  <!-- partial templates will replace the part of "body" here -->
    {{{ body }}}
  <!-- include javascript files here -->
  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>
</html>